
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  height: auto;
  padding: 0;
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #1488cc, #2b32b2);
  background: linear-gradient(to right, #1488cc, #2b32b2);
  font-family:Arial, Helvetica, sans-serif;
}


#topnav {
  overflow: hidden;
  background-color: black;
  padding: 20px, 5px;
  position:sticky;
  top: 0%;
  width: 100%;
  height: -50%;
}


#topnav a {
  float: left;
  display: block;
  color: white; 
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

#topnav a:hover {
  background-color: white;
  color: black;
}

#topnav a:active {
  background-color: white;
  color: black;
}

#topnav-right {
  float: right;
}
/*for mobile*/

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }
}

/*For content*/

#home {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
  margin-top: -75px;
  margin-bottom: 100px;
}

#scholarship
{
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
#gallery {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
  margin-top: -10px;
  margin-bottom: 1800px;
}

#program {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 800px;
}

#admission {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
  margin-bottom: 50px;
}
#contact {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

/*For home*/

.aboutUs {
  border-style:solid;
  background-color: whitesmoke;
  padding: 1px;
  position: static;
}

.missionAndVisionSection
{
  position: static;
  display: contents;
  align-items: center;
}

.scholarship
{
  border-style:solid;
  background-color: whitesmoke;
  padding: 1px;
  position: static;
}

.mission, .vision, .scholarship, .contact, .admission, .procedure
{
  border-style:solid;
  background-color: whitesmoke;
  padding: 1px;
  position: static;
}

.row
{
  display: flex;
}

/* Create two equal columns that floats next to each other */

.column {
  float: left;
  width: 50%;
  padding: 20px;
  height: fit-content;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}


.icons {
  float: left;
  cursor: pointer;
  width: 32px;
  height: 32px;
  margin: 0 10px 0 0;
}

.banner
{
  padding-top: 100px;
  width: 100%;
}

.gallery {
  padding-top: 100px;
  padding-left: 50px;
  width: 800px;
  height: 600px;
  align-items: center;
}

.sectionA
{
  width: 720px;
  height: 480px;
  padding: 25px;
}

.sectionB
{
  width: 720px;
  height: 480px;
  padding: 25px;
}

/*Styling for basic html elements*/
h1 {
  margin: 75px;
  text-align: center;
  font-size: 32px;
  color: white;
  font-weight:lighter;
}

h2 {
  text-align: left;
  font-size: 24px;
  color: white;
}

h3
{
  text-align: center;
  color: white;
}

p
{
  font-size: 24px;
  font-style:normal;
  font-weight: lighter;
  text-align: center;
  color: white;
}

p.onWhiteBG
{
  color: black;
}

a.facebook
{
  text-decoration: none;
  color: black;
}

div
{
  white-space:normal;
}

/*table styling*/

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

th
{
  background-color: skyblue;
}
td {
  background-color: white;
}
