* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family:Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding: 20px, 10px;
  position: fixed;
  top: 0%;
  width: 100%;
  height: -75%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a:active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: right;
}

/*for mobile*/

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }
}

#home {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#gallery {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#program {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#requirements {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

h1 {
  margin: 100px;
  text-align: center;
}

.footer
{
  width: 25%;
  background-color: floralwhite;
  color: black;
}
.icons
{
  padding: 15px;
  float: center;
}

/*For home*/
.aboutUs, .contactDetails
{
  border-style: dotted;
  background-color:whitesmoke;
  padding: 30px;
}

/*table styling*/
table
{
  border-collapse:collapse;
  width: 100%;
}
table, th, td
{
  border: 1px solid black;
  height: 50px;
  text-align: center;
  padding: 5px;
  background-color: cyan;
}
td
{
  background-color:whitesmoke;
}
