* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding: 20px, 10px;
  position: fixed;
  top: 0%;
  width: 100%;
  height: -75%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a:active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: right;
}

/*for mobile*/

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }
}

#home {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#gallery {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#program {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#requirements {
  height: 1000px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

h1 {
  margin: 100px;
  text-align: center;
}

.footer {
  width: 25%;
  background-color: floralwhite;
  color: black;
}

.icons {
  padding: 15px;
  float: center;
}

/*For home*/

.aboutUs, .contactDetails {
  border-style: dotted;
  background-color: whitesmoke;
  padding: 30px;
}

/*table styling*/

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  padding: 5px;
  background-color: cyan;
}

td {
  background-color: whitesmoke;
}

/*for slideshow*/

/*slideshow container*/

.gallery_container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/*hide images by default*/

.gallery {
  display: none;
}

/*for buttons*/

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideIndex {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}