* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  height: 100%;
  background: #2193b0;
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed);
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
  padding: 20px, 10px;
  position: fixed;
  top: 0%;
  width: 100%;
  height: -75%;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a:active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: left;
}

/*for mobile*/

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav-right {
    float: none;
  }
}

#home {
  height: 100px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#gallery {
  height: 100px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#program {
  height: 100px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

#requirements {
  height: 100px;
  border-style: hidden;
  display: inline-block;
  width: 100%;
}

h1 {
  margin: 100px;
  text-align: center;
}
h2
{
  text-align: left;
  font-size: 25px;
}
/*For home*/

.aboutUs {
  border-style: solid;
  background-color: whitesmoke;
  padding: 1px;
  position: sticky;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  border-style: solid;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/*table styling*/

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  height: 50px;
  text-align: center;
  padding: 5px;
  background-color: cyan;
}

td {
  background-color: whitesmoke;
}

/*for slideshow*/

/*slideshow container*/

.gallery_container {
  max-width: 1000px;
  margin: auto;
  position: relative;
}

/*hide images by default*/

.gallery {
  display: none;
}

/*for buttons*/

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideIndex {
  color: black;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 5px;
  position: absolute;
  top: 0;
  font-weight: bold;
}

/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.0s;
  animation-name: fade;
  animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

/*for image resizing*/

.slideshowImg {
  padding-top: 100px;
  width: 1920px;
  height: 900px;
  align-items: center;
}

.contactUsFooter
{
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.5%;
  background-color: white;
}